.optionDiv{
    
    width:100%;
    position: static;
    margin-top: 3%;
    /* left:50%; */
    padding: 10px;
    background-color: red;
    display: flex;
    justify-content: center;
    
    
}
.characterTitleAlignment{
    text-align: center;
    margin-top: 10%;
}
.characterTitle{
    margin: 0 auto;
    display: flex;
    max-width: 400px;
    padding-top: 1%;
    justify-content: space-evenly;
}
#outputText{
    margin: 0 auto;
    padding-top:3% ;
    text-align: center;
    max-width: 400px;
}
.test{
    top:50%;
    position: fixed;
}
.scorecard{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.heading{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 2%;
    justify-content: center;
}

.optionItems{
    /* left: 50%; */
    padding: 10px;
    margin-left: 5px;
    margin-right:5px ;
}