/* This file was created by ADITYA SALUNKE */

@font-face {
    font-family: undertaleFont;
    src: url('MonsterFriendFore.otf');
}
html{
    background-color: #000000;
    font-family: undertaleFont;
    color: #ffffff;
    overflow-x: hidden;
  
    
}

.centeringDiv{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 1%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);}

body{
    z-index: 20;

   
}

.scorecard{
    margin-top: 3rem;
}

.optionDiv{
    
    width:auto;
    position: static;
    height: 250px;
    margin-top: 3%;
    
    padding: 10px;
    border-color:white;

    display: flex;
    justify-content: center;
    
    
}
img:hover{
    transform: scale(1.15);
    
}
.characterTitleAlignment{
    text-align: center;
    margin-top: 10%;
    
}
.characterTitle{
    margin: 0 auto;
    display: flex;
    max-width: 400px;
    padding-top: 2.2%;
    justify-content: space-evenly;
}

#choiceVisual{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    margin-top: 1.4rem;
    margin-bottom: 0.1rem; 

}

#humanChoiceVisual{
    margin-right: 1rem;
}

#visualSeparator{
    align-self: center;
}

#computerChoiceVisual{
    margin-left: 1rem;
}

#outputText{
    margin: 0 auto;
    padding-top:3% ;
    text-align: center;
   

}
.test{
    top:50%;
    position: fixed;
}
.scorecard{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.heading{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 2.2%;
    justify-content: center;
}

#startContainer{
    width: 100%;
    height: 100%;  
    top:0;
    left: 0;
    position: fixed;
     display: flex; 
    align-items: center;
    justify-content: center;
    z-index: 30;
    background-color: black;
}

#endScreen{
    width: 100%;
    height: 100%;  
    top:0;
    left: 0;
    position: fixed;
    flex-direction: column;
     display: flex; 
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: black;
}


#endContainer1{
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
}

#secondContainer{
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;

}
.splashContainer{
    align-self: flex-start;
    width: 100%;
    height: 50px;

    
  
}

#endReloadButton{
    height: 75px;
    width: 75px;
    margin: auto;
    padding-top: 8%;
}

.imageContaner{
    align-items: center;
    width: 100%;
    display: flex;
}

#splashH3{
    
justify-self: center;    
}
#startButton{
    margin-top: 15px;
    height: 80px;
    width: 80px;
    margin:auto
}
.optionItems{
   
    padding: 10px;
    margin-left: 5px;
    margin-right:5px ;
}