@font-face {
    font-family: undertaleFont;
    src: url('MonsterFriendFore.otf');
}
html{
    background-color: #000000;
    font-family: undertaleFont;
    color: #ffffff;
    
}
.optionDiv{
    
    width:auto;
    position: static;
    height: 250px;
    margin-top: 3%;
    /* left:50%; */
    padding: 10px;
    border-color:white;

    display: flex;
    justify-content: center;
    
    
}
img:hover{
    transform: scale(1.15);
    
}
.characterTitleAlignment{
    text-align: center;
    margin-top: 10%;
    
}
.characterTitle{
    margin: 0 auto;
    display: flex;
    max-width: 400px;
    padding-top: 1%;
    justify-content: space-evenly;
}
#outputText{
    margin: 0 auto;
    padding-top:3% ;
    text-align: center;
    max-width: 400px;
}
.test{
    top:50%;
    position: fixed;
}
.scorecard{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.heading{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 2%;
    justify-content: center;
}

#startContainer{
    width: 100%;
    height: 100%;  

    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 200;
    background-color: black;
}
#startButton{
    position:fixed;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    align-self: center;
}
.optionItems{
    /* left: 50%; */
    padding: 10px;
    margin-left: 5px;
    margin-right:5px ;
}